.card-title {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
}
.fs-5{
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.fs-6{
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.card{
  border: 3px solid #ff009d; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

/*kartı hareketlendirme kısmını burda uyguladım*/

.card:hover {
  border-color: #000000; 
  transform: translateY(-5px); 
}

.text-danger{
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;

}
.text-muted{
    font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;

}
