.card-title {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
}
.fs-5{
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.fs-6{
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}