.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh; 
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
}

.search-form {
  display: flex;
  gap: 5px; 
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 

}

.search-input {
  padding: 5px 8px; 
  border: 2px solid #ff009d;
  border-radius: 6px;
  width: 100%;
  font-size: 14px; 
  transition: all 0.2s ease;
  outline: none;
  flex-grow: 1;
}

.search-button {
  padding: 10px 20px; 
  background-color: #df028a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  transition: all 0.3s ease; 
  position: relative;
}
.search-button:hover {
  transform: translateY(-1px) scale(1.02);
  box-shadow: 0 4px 8px rgba(223, 2, 138, 0.3);
}


/* Mobil uyumluluk */
@media (max-width: 768px) {
  .search-container {
    min-height: 40vh; 
    padding: 5px;
    gap: 0.1px;
  }
  
  .search-form {
    padding: 15px;
    flex-direction: column;
  }
}

.search-container{
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;

}