body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ubuntu {
  font-family: 'Rubik',source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  font-weight: 700; 
  
}
.ubuntu.bold {
  font-weight: 1000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
